:root
{
    --color-1: #265073;
    --color-2: #2D9596;
    --color-3: #9AD0C2;
    --color-4: #F1FADA;
    --color-5: #d6cdcd;
    --color-6: #303030;
}

body
{
    color: var(--color-5);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container
{
    background-image: url(atm-image-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--color-1);
    border: 2px solid black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: pointer; 
}

.main-container #front-screen
{
    /* background-color: var(--color-1); */
    width: 100%;
    height: 100%;
    text-align: center;   
}

.main-container #front-screen .head-1
{
    margin-top: 50px;
    font-size: 50px;
}

.main-container #front-screen .head-2
{
    color: var(--color-2);
    font-size: 40px;
}

.main-container #second-screen
{
    /* background-color: var(--color-1); */
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 2px solid black;
}

.main-container #third-screen
{
    /* background-color: var(--color-1); */
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 2px solid black;
}

.main-container #fourth-screen
{
    /* background-color: var(--color-1); */
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 2px solid black;
}

.main-container #fifth-screen
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-1); */
    width: 100vw;
    height: 100vh;
    text-align: center;
    border: 2px solid black;
}

.main-container #fifth-screen #info
{
    background-color: var(--color-3);
    color: var(--color-1);
    width: 300px;
    border: 1px solid var(--color-5);
    border-radius: 12px;
}

.main-container #second-screen #input-1
{
    background-color: var(--color-5);
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 6px;
}

.main-container #second-screen #input-1:focus
{
    outline: none;
}

.main-container #second-screen>h2
{
    margin-top: 150px;
    font-size: 30px;
}

.main-container #second-screen #btn-1
{
    font-weight: 700;
    color: var(--color-1);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-5);
}

.main-container #second-screen #btn-1:hover
{
    color: var(--color-5);
    transform: scale(1.04);
    background-color: var(--color-2);
}

.main-container #third-screen #btn-2
{
    margin-top: 150px;
    font-weight: 700;
    color: var(--color-1);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-5);
}

.main-container #third-screen #btn-2:hover
{
    color: var(--color-5);
    transform: scale(1.04);
    background-color: var(--color-2);
}

.main-container #fourth-screen #input-2
{
    margin-top: 150px;
    background-color: var(--color-5);
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 6px;
}

.main-container #fourth-screen #input-2:focus
{
    outline: none;
}

.main-container #fourth-screen #btn-3
{
    font-weight: 700;
    color: var(--color-1);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-5);
}

.main-container #fourth-screen #btn-3:hover
{
    color: var(--color-5);
    transform: scale(1.04);
    background-color: var(--color-2);
}


@media (max-width: 576px) {
    .main-container
    {
        background-image: none;
        background-color: var(--color-1);
    }
}

